Repository recaptime-dev/hackclub-leeksbot: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-manifest, deploy-prod

update-manifest:
  stage: update-manifests
  script:
  - 'npx dotenvx run -- bash -c ''curl -X POST -H "Authorization: Bearer $SLACK_APP_MANIFEST_DEPLOY_TOKEN" -H "Content-Type: application/json" --data @manifests/dev.yml https://slack.com/api/apps.manifest.update''
  
  ...

deploy-prod:
  stage: deploy
  script:
  - ssh -i /etc/secretskit/rtdevbot.key ajhalili2006@hackclub.app git -C /home/ajhalili2006/git/leeksbot pull
  - ssh -i /etc/secretskit/rtdevbot.key ajhalili2006@hackclub.app cp -v /home/ajhalili2006/git/leeksbot/lib/leeksbot-nest.service /home/ajhalili2006/.config/systemd/user
  ...

ci(gitlab-ci): make sure directories exist, alongside comment some out for now
  .gitlab-ci.yml
  .gitlab/ci/deployments.gitlab-ci.yml
Due: update-manifest

ci(gitlab-ci): include .env.keys template file for op inject on CI
  .env.keys.tmpl
  .gitlab/ci/deployments.gitlab-ci.yml
Due: update-manifest

ci(gitlab-ci): :green_heart: forget to add OpenSSH client package from aports
  .gitlab-ci.yml
Due: none

ci(gitlab-ci): setup SSH config and known_hosts to copy on each CI run
  .gitlab-ci.yml
  .gitlab/ci/deployments.gitlab-ci.yml
  .gitlab/ci/ssh_config
  .gitlab/ci/ssh_hostkeys
Due: update-manifest

chore(slackApp): :art: work through using try-catch statements for error handling
  app.ts
  handlers/commands/sub-admin.ts
  handlers/events/leeks-reactions.ts
  lib/channel-allowlist.ts
  lib/constants.ts
  lib/env.ts
  lib/utils.ts
  prisma/schema.prisma
  scripts/migrate-to-db.ts
Due: deploy-prod

chore(vitepress): :technologist: add mdit-footnote plugin for vitepress
  .stackblitzrc
  docs/.vitepress/config.mts
  package-lock.json
  package.json
Due: deploy-prod

chore(vscode): update scopes for conventional commits extension
  .vscode/settings.json
Due: none

docs(global): get cooked on the docs updates
  README.md
  docs/.vitepress/config.mts
  docs/index.md
  docs/meta/allowlisted-channels.md
  docs/meta/code-style.md
  docs/meta/contributing.md
  docs/meta/data-privacy.md
Due: none

chore(slackApp): bts work for this cafe session
  handlers/actions/index.ts
  handlers/actions/review-queue.ts
  handlers/commands/leeks.ts
  handlers/events/leeks-reactions.ts
  handlers/views/index.ts
  handlers/views/rejection-reason-flow.ts
  lib/block-builder.ts
  lib/types.ts
  lib/utils.ts
Due: deploy-prod

chore(deps): update dependencies via ncu
  package-lock.json
  package.json
Due: deploy-prod

chore(prisma): set output of generated prisma client code to prisma/client directory
  prisma/.gitignore
  prisma/schema.prisma
Due: deploy-prod

more work at the blocks and stuff
  handlers/actions/index.ts
  handlers/actions/review-queue.ts
  handlers/index.ts
  handlers/views/rejection-reason-flow.ts
  lib/block-builder.ts
  manifests/dev.yml
Due: update-manifest, deploy-prod

update deps and move utils to tools
  app.ts
  package-lock.json
  package.json
  tools/migrate-to-db.ts
  tools/package.json
  tools/update-app-manifest.ts
Due: deploy-prod

chore(prettier): setup config
  .prettierignore
  .prettierrc
Due: none

style(global): run prettier formatter everywhere real quick
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .github/workflows/deploy.yaml
  .gitlab/ci/deployments.gitlab-ci.yml
  .vscode/settings.json
  CONTRIBUTING.md
  README.md
  app.ts
  docs/.vitepress/config.mts
  docs/index.md
  docs/meta/allowlisted-channels.md
  docs/meta/code-style.md
  docs/meta/contributing.md
  docs/meta/data-privacy.md
  docs/meta/project-maintainers.md
  handlers/actions/index.ts
  handlers/actions/review-queue.ts
  handlers/commands/index.ts
  handlers/commands/leeks.ts
  handlers/commands/sub-admin.ts
  handlers/commands/sub-utils.ts
  handlers/events/index.ts
  handlers/events/leeks-reactions.ts
  handlers/index.ts
  handlers/shortcuts/index.ts
  handlers/shortcuts/leeks.ts
  handlers/views/index.ts
  handlers/views/rejection-reason-flow.ts
  lib/admin.ts
  lib/block-builder.ts
  lib/blocks.ts
  lib/channel-allowlist.ts
  lib/constants.ts
  lib/env.ts
  lib/sentry.ts
  lib/types.ts
  lib/utils.ts
  tools/migrate-to-db.ts
  tools/update-app-manifest.ts
  tsconfig.json
Due: update-manifest, deploy-prod

feat(global): update docs and slack app backend code
  docs/meta/design.md
  docs/meta/project-maintainers.md
  handlers/actions/review-queue.ts
  handlers/views/rejection-reason-flow.ts
  lib/env.ts
  package-lock.json
  package.json
  tools/package.json
  tools/update-app-manifest.ts
Due: deploy-prod

chore(deps): update dependencies as usual
  package-lock.json
  package.json
Due: deploy-prod

chore(prisma): enable experimental JS-native client generator
  prisma/schema.prisma
Due: deploy-prod

chore(idx): :technologist: setup Firebase Studio config
  .idx/dev.nix
  .vscode/settings.json
Due: none

chore(docs): use compressed version of the app icon for data reasons
  docs/assets/img/leeksbot-main-logo.png
  docs/img/leeksbot.png
  docs/index.md
Due: none

chore(dotenvx): rename plain dotenv file to avoid confusion with prisma cli
  .env.development
  .env.keys.tmpl
  package.json
Due: deploy-prod

chore(prisma): update dotenv comments and uncomment binaryTargets
  .env.development
  prisma/schema.prisma
Due: deploy-prod

docs(global): get cooked with docs updates
  docs/meta/allowlisted-channels.md
  docs/meta/data-privacy.md
  docs/meta/project-maintainers.md
  docs/user-guide/slash-commands.md
Due: none

fix(review-queue): value from `ignore` action button should query DB for original msg ID
  handlers/actions/review-queue.ts
Due: deploy-prod

chore(utils): add additional error handlers for modals
  lib/utils.ts
Due: deploy-prod

chore(prisma): migrate db to prisma database
  .env.development
  prisma/schema.prisma
Due: deploy-prod

chore(global): stash everything in one commit
  .idx/dev.nix
  app.ts
  docs/.vitepress/config.mts
  docs/meta/infraops.md
  docs/meta/project-maintainers.md
  handlers/commands/sub-utils.ts
  lib/admin.ts
  lib/systemd/prod-nest.service
  package-lock.json
  package.json
Due: deploy-prod

feat(global): 🧑‍💻 update Docker and devcontainer setup for Postgres
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .env.production
  package-lock.json
  package.json
  prisma/migrations/20250430164450_fix_that_bloody_hell_schema_hell/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.prisma
  tools/ppg-tunneler
Due: deploy-prod

chore(slack): get cooked with app manifest updates and work on utility scripts
  manifests/dev.yml
  manifests/prod.yml
  tools/package.json
  tools/ppg-tunneler
  tools/refresh-app-config-token
  tools/update-app-manifest.ts
Due: update-manifest

chore(prisma): disable preview features at the moment
  prisma/schema.prisma
Due: deploy-prod

chore(devenv): update configs for both VSC workspace settings and devcontainers
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .vscode/extensions.json
  .vscode/settings.json
Due: none

chore(dotenvx): rotate PDP API keys
  .env.development
  .env.production
Due: none

chore(deps): update deps and setup Prisma Optmize
  package-lock.json
  package.json
Due: deploy-prod

feat(slackApp): enhance bot commands and user management
  app.ts
  handlers/commands/leeks.ts
  handlers/commands/sub-admin.ts
  handlers/commands/sub-utils.ts
  lib/admin.ts
  lib/channel-allowlist.ts
  lib/env.ts
  lib/types.ts
  lib/utils.ts
Due: deploy-prod

chore(global): add dotenvx:inject-op for easily injecting .env.keys values from 1Password
  lib/systemd/prod-nest-oldconfig.service
  package.json
Due: deploy-prod

chore(systemd): finalize user service unit
  lib/systemd/prod-nest.service
Due: none

chore: update configs from the archive graveyard
  .env.production
  manifests/dev.yml
  manifests/prod.yml
Due: update-manifest

chore(devenv): enable dev builds of docs in devcontainer
  .devcontainer/devcontainer.json
Due: none

docs: work on links and stuff for infraops
  docs/meta/infraops.md
Due: none

Pending changes exported from your codespace
  .gitignore
  app.ts
  package-lock.json
  package.json
  prisma.config.ts
  prisma/schema.prisma
  tools/migrate-to-db.ts
  tsconfig.json
Due: deploy-prod

Path conditions:
  update-manifest: any of: manifests/*.yml, .gitlab/ci/deployments.gitlab-ci.yml
  deploy-prod: any of: app.ts, package*.json, lib/*, handlers/**/*, prisma/schema.prisma, prisma/migrations/**/*.sql
